.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.listContainer {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  font-size: 26px;
  line-height: 1.2;

  & p {
    line-height: inherit;
  }
}

.title {
  font-style: italic;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  margin-left: 0.1em;

  display: flex;
}

.dotted {
  display: none;
}

.dash {
}

@media screen and (max-width: 768px) {
  .container {
    margin-bottom: 72px;
    gap: 8px;
  }

  .listContainer {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 24px;
    margin-top: -10px;
    padding-top: 10px;

    .title {
      order: 2;
    }
  }

  .title {
    display: flex;
    gap: 0;
  }

  .dotted {
    display: flex;
    text-align: center;
    height: 0;
    border-top: 2px dotted var(--dotted);
    font-family: "Inter", sans-serif;
    margin-bottom: 8px;
    font-size: 13px;
    display: block;
    position: relative;
  }

  .dotted span {
    position: absolute;
    top: -10px;
    left: calc(50vw - 16px);
    padding: 0 8px;
    background-color: var(--background);
    transform: translateX(calc(-50% - 8px));
  }
}
