.wrapper {
  position: absolute;
  top: 120px;
  left: 80px;
  right: 0;
  padding-right: 80px;
  bottom: 80px;
  height: calc(100dvh - 120px - 80px);
  overflow-x: clip;
  overflow-y: auto;
}

.listWrapper {
  position: absolute;
  top: 120px;
  left: 80px;
  right: 0;
  padding-right: 80px;
  overflow-x: clip;
  overflow-y: auto;

  bottom: 0;
  height: calc(100dvh - 120px);
}

@media screen and (max-width: 768px) {
  .wrapper {
    bottom: 0;
    left: 16px;
    right: 16px;
    margin-right: -16px;
    padding-right: 16px;
    /* height: calc(100dvh - 120px); */

    top: 112px; /* pixel perfect value */
    height: calc(100dvh - 112px);
  }

  .listWrapper {
    left: 16px;
    right: 16px;
    bottom: 0;

    height: calc(100dvh - 112px);
    margin-right: -16px;

    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 72px;
    margin-top: -8px;
  }
}
