.select {
  height: 40px;
  width: 100%;
  position: relative;

  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: var(--secondary);
  border-radius: 16px;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  padding-left: 16px;
  padding-right: 48px;
  color: var(--primary);

  &:hover {
    background-color: var(--dotted);
  }
}

.selected {
  composes: select;

  color: var(--background);
  background-color: var(--secondary-background);

  &:hover {
    background-color: var(--secondary-background);
  }
}

.select span {
  display: block;
}

.icon {
  position: absolute;
  top: 0.5em;
  right: 16px;
  width: 24px;
  height: 24px;
}

.icon path {
  stroke: var(--primary);
}

.close {
  position: absolute;
  top: 0.5em;
  right: 16px;
  z-index: 99;
  width: 24px;
  height: 24px;
}

.close path {
  stroke: var(--background);
}

.dropdown {
  background-color: var(--secondary-background);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 16px;
  color: var(--secondary);
  font-size: 16px;
  font-family: "Inter", sans-serif;
  max-height: 515px;
  overflow-y: scroll;
  z-index: 98;
}

.dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown li {
  padding: 0.5em 1em;
  border-bottom: 1px solid var(--primary-dim);
  cursor: pointer;
}

/* Modern browsers with `scrollbar-*` support */
@supports (scrollbar-width: auto) {
  .dropdown {
    scrollbar-width: auto;
    scrollbar-color: var(--background) var(--primary);
  }
}

/* Legacy browsers with `::-webkit-scrollbar-*` support */
@supports selector(::-webkit-scrollbar) {
  .dropdown::-webkit-scrollbar {
    max-width: 16px;
  }

  .dropdown::-webkit-scrollbar-track {
    background: var(--primary);
    border-radius: 5px;
  }

  .dropdown::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border-radius: 14px;
    border: 3px solid var(--primary);
  }
}
