.toggle {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  aspect-ratio: 1;
  padding: 0;
  margin: 0;
  background: var(--secondary);
  border: none;
  border-radius: 16px;
}

.toggle svg path {
  display: block;
  position: relative;
  fill: var(--primary);
}

@media screen and (max-width: 768px) {
  .toggle {
    background: transparent;
    justify-content: flex-end;
  }
}
