:root[data-theme="dark"] {
  --primary: #f1efec;
  --secondary: #4b4e5f;
  --background: #232740;
  --secondary-background: #f1efec;
  --primary-dim: #d3c8b8;
  --dotted: #3a3f61;

  --primary-bright: #ffffff;
  --primary-dark: #202020;
  --secondary-bright: #ffea5f;

  --icon-color: #f1efec;
  --icon-color-reverse: #232740;

  /* Asks browser to behave in dark mode */
  color-scheme: dark;
}

/*
 * Light mode theme 
 */
:root[data-theme="light"] {
  --primary: #232740;
  --secondary: #e8e0d5;
  --background: #f1efec;
  --secondary-background: #232740;
  --primary-dim: #3a3f61;
  --dotted: #d3c8b8;

  --primary-dark: #efefef;
  --secondary-bright: #4800ff;
  --primary-bright: #000000;

  --icon-color: #232740;
  --icon-color-reverse: #f1efec;
}
